<h1>Transportadoras</h1>

<% @carriers.each do |c| %>
  <h3><%= link_to c.brand_name, c %></h3>
   <dl>
      <dt>Razão Social</dt>
      <dd><%= c.corporate_name %></dd>
      
      <dt>Status</dt>
      <dd><%= c.status %></dd>
   </dl>
<% end %>