<% if flash[:notice] %>
  <div class="notice" style="color: rgb(0, 150, 20);"><%= notice %></div>
<% elsif flash[:alert] %>
  <div class="alert" style="color: rgb(255, 0, 0);"><%= alert %></div>
<% end %>